// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Bootstrap
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_utilities.scss";
// Variables
@import "variables";
// Elemnt
@import 'element-variables';

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.el-header {
  line-height: 61px;
}

.el-aside {
  color: #333;
}

.el-menu-item:hover {
  background: none !important;
}

.el-select .el-input {
  width: 110px;
}

a {
  text-decoration: none;
}

.el-select .el-input {
  width: 100%;
}

.pdf-bill {
  .border-0 {
    border: 0;
  }
  .benefit {
    margin: 50px 0;
    border-collapse: collapse;
    caption {
      font-weight: bold;
      text-align: left;
      padding: 20px 0 10px;
    }
    tfoot {
      font-weight: bold;
      small {
        font-size: 0.8rem;
        font-weight: normal;
      }
    }
    th {
      background-color: #17a2b8;
    }
    .tot {
      font-weight: bold;
      td:first-child {
        background: #fff;
      }
      background-color: #17a2b8;
    }
    td, th {
      border: 1px solid #000;
      padding: 0.5rem;
    }
  }
}